.light-ray-background {
  position: relative;
  overflow: hidden;
}

.light-ray-background::before,
.light-ray-background::after {
  content: '';
  position: absolute;
  top: -50%;
  bottom: 0;
  width: 30%; /* Increased width for thicker rays */
  height: 200%;
  background: rgba(255, 255, 255, 0.2); /* Increased opacity for more visibility */
  filter: blur(26px); /* Slightly sharper edges */
  transform-origin: top;
  transform: rotate(-45deg) skewY(-25deg) scale(0.5, 1); /* Adjusted scale to make top skinnier than bottom */
  mix-blend-mode: overlay;
  pointer-events: none;
}

.light-ray-background::before {
  left: -20%;
  transform: rotate(-42deg) skewY(-25deg) scale(1, 3); /* Adjusted scale for variation */
}

.light-ray-background::after {
  top: -80%;
  transform: rotate(-40deg) skewY(-30deg) scale(1.4, 3); /* Adjusted scale for variation */
}
